html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.nav {
  border: 2px solid !important;
}
a {
  color: inherit;
  text-decoration: none;
}
.button {
  border-color: white !important;
}
.has-border-bottom {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

* {
  box-sizing: border-box;
}

.button.is-link.is-outlined:hover  {
  background-color: white !important;
  color: black !important;
}
.navbar-item {
  border-bottom: 1px solid #ffffff;
}
.navbar-item:hover {
    border-bottom: 1px solid #000000;
}
.is-size-3 {
  font-size:2rem;
}
.is-size-5 {
  font-size:1.25rem;
}
.has-text-weight-semibold {
font-weight: semibold;
}
.is-icon {
  margin-left: 95px;
    font-size: 157px;
    color: #209cee;
    padding: 32px 0px;
}
.is-font-color {
  background: #EFF3F4
}
.is-margin {
  margin-bottom: 44px;
}
.is-padding {
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
.has-color-blue {
  color: #209cee;
}
